<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>
  <extensions>
    <add assembly="Elmah.Io.NLog"/>
  </extensions>
  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${mdlc:item=requestid}|${uppercase:${level}}|${message} ${exception:format=ToString}" />
    

  </targets>
  <target name="elmahio" type="elmah.io" logId="22dc3240-5e45-4c34-8096-5ef20132237a"/>
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="*" minlevel="Info" writeTo="elmahio" />
  </rules>
</nlog>